.sprite-marine {
    background-image: url(../images/marineImages.png);
    width: 128px;
    height: 128px;
}

.sprite-marine-sea_grapes {
	background-position: 0 0
}

.sprite-marine-sea_anemone {
	background-position: -128px 0
}

.sprite-marine-spotted_garden_eel {
	background-position: -256px 0
}

.sprite-marine-acorn_barnacle {
	background-position: -384px 0
}

.sprite-marine-giant_isopod {
	background-position: -512px 0
}

.sprite-marine-gigas_giant_clam {
	background-position: -640px 0
}

.sprite-marine-whelk {
	background-position: -768px 0
}

.sprite-marine-firefly_squid {
	background-position: -896px 0
}

.sprite-marine-sea_pig {
    background-position: -1024px 0
}



.sprite-marine-sea_cucumber {
	background-position: 0 -128px
}

.sprite-marine-venus_flower_basket {
	background-position: -128px -128px
}

.sprite-marine-dungeness_crab {
	background-position: -256px -128px
}

.sprite-marine-snow_crab {
	background-position: -384px -128px
}

.sprite-marine-gazami_crab {
	background-position: -512px -128px
}

.sprite-marine-red_king_crab {
	background-position: -640px -128px
}

.sprite-marine-spider_crab {
	background-position: -768px -128px
}

.sprite-marine-sweet_shrimp {
	background-position: -896px -128px
}

.sprite-marine-tiger_prawn {
    background-position: -1024px -128px
}



.sprite-marine-mantis_shrimp {
	background-position: 0 -256px
}

.sprite-marine-sea_star {
	background-position: -128px -256px
}

.sprite-marine-sea_pineapple {
	background-position: -256px -256px
}

.sprite-marine-lobster {
	background-position: -384px -256px
}

.sprite-marine-pearl_oyster {
	background-position: -512px -256px
}

.sprite-marine-oyster {
	background-position: -640px -256px
}

.sprite-marine-spiny_lobster {
	background-position: -768px -256px
}

.sprite-marine-sea_slug {
	background-position: -896px -256px
}

.sprite-marine-horseshoe_crab {
    background-position: -1024px -256px
}



.sprite-marine-moon_jellyfish {
	background-position: 0 -384px
}

.sprite-marine-mussel {
	background-position: -128px -384px
}

.sprite-marine-chambered_nautilus {
	background-position: -256px -384px
}

.sprite-marine-abalone {
	background-position: -384px -384px
}

.sprite-marine-slate_pencil_urchin {
	background-position: -512px -384px
}

.sprite-marine-sea_urchin {
	background-position: -640px -384px
}

.sprite-marine-scallop {
	background-position: -768px -384px
}

.sprite-marine-umbrella_octopus {
	background-position: -896px -384px
}

.sprite-marine-octopus {
    background-position: -1024px -384px
}



.sprite-marine-turban_shell {
    background-position: 0 -512px
}

.sprite-marine-vampire_squid {
    background-position: -128px -512px
}

.sprite-marine-flatworm {
    background-position: -256px -512px
}

.sprite-marine-seaweed {
    background-position: -384px -512px
}